<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>
          Curso: {{ curso.nombre | uppercase }}
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Descripcion:</strong> {{ curso.descripcion }}</p>
      <mat-card-title> Alumnos inscriptos:</mat-card-title>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="borrarAlumno(alumno.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="goBack()">Volver</button>
  </mat-card>
</div>

