<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let curso">{{ curso.id }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let curso">{{ curso.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let curso">{{ curso.descripcion }}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let curso">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/main/cursos/editar', curso.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="eliminarCurso(curso.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/main/cursos/detalles', curso.id]">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <mat-paginator
      [pageSizeOptions]="[5, 10]"
      showFirstLastButtons
      aria-label="Selecciona página de cursos">
  </mat-paginator>
</div>

<div class="container">
  <span>
    <button
      mat-raised-button
      color="primary"
      routerLink="/main/cursos/agregar">
      Agregar Curso
    </button>
  </span>
</div>
